@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

/* -------------------- Scrollbar -------------------- */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    background: #D1D1D133;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: #D1D1D1;
    cursor: pointer;
}